[Desktop Entry]
Version=1.0
Type=Application
Encoding=UTF-8
Name=tp
Comment=tri_photo permet de regrouper, dans un meme répertoire hiérachisé, des images dispersées sur son disque ou tout autre support.
Exec=/usr/bin/tp
Icon=tp
Terminal=False
StartupNotify=true
